<div class="card mb-auto shadow-lg" style="width: 20rem; height: auto">
  <div class="card-body">
    <div class="d-grid fs-1 mb-4 p-2">< /> Flogao</div>

    <!-- <form> -->
    <div class="form-group mb-3">
      <input type="email" class="form-control" placeholder="E-mail" />
    </div>
    <div class="form-group mb-3">
      <input type="password" class="form-control" placeholder="Senha" />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">
        Entrar
      </button>
      <!-- </form> -->
      <hr />
    </div>

    <p class="small text-danger text-center">
      O nome de usuário inserido não pertence a uma conta. Verifique seu nome de
      usuário e tente novamente.
    </p>
  </div>
</div>
<br />
<div class="card shadow-lg" style="width: 20rem">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta?
      <a href="#" (click)="exibirPainelCadastro()" class="card-link"
        >Cadastre-se</a
      >
    </p>
  </div>
</div>
